.lession-content{
    background: whitesmoke;
    border-style: double;
    border-color: window;
    height: 100px;
    text-decoration: underline;
    text-decoration-line: underline;
    margin-bottom: 2px;
}
.lession-title{
    width: 100%;
    font-size: medium;
    font-weight: bold;
    text-decoration-line: underline;
    float: left;
    color: #007F9F;
}
.lession-teacher{
    float: left;
    color: #111;
    font-size:smaller;
    font-weight: bold;
}
.lession-time{
    float: right;
    color: #C8C8C8;
    font-size: small;
}
.lession-description{
    float: left;
    margin-left: 5px;
    font-family: cursive;
    font-size: medium;
    color: #111;
}
