/**************************** SENSEI_HOME_PAGE **************************************/
.action_cardd{height: 60px;line-height: 60px;background:#EAF6DC url(http://data.tienganh123.com/images/v2/home/stars_bgr.png) no-repeat; border:1px solid #DDDDDD ;}
.mess_cardd {float: left;}
.mess_cardd a:hover .blue1 { color:#ee7600;}
.ac_cardd{float: right;}
.mess_cardd{margin-left: 45px;line-height: normal;}
.ac_cardd{margin: 8px 0 0 0;}

.black-11{color: #5B5959;font-size: 23px;font-weight: bold;}

/**** Button addcourse ****/
.addcourse{
    background:url(../../public/images/addcourse.png) -37px -5px no-repeat;
    padding: 17px 73px 3px 93px;
}
.addcourse:hover{
    background:url(../../public/images/addcourse1.png) -37px -5px no-repeat;
    padding: 17px 73px 3px 93px;
}

/**** Teacher List course   ****/
.center_info_cus{float: left;}
.center_info_cus{margin-top: 10px; width: 100%;font-weight:normal;float: left; margin-left:2px; margin-bottom:15px; padding-right:20px;}

.pr_ceninfo_form{
    margin-bottom: 20px;
    float:left;
    word-wrap: break-word;
    width: 658px;
}
.pr_ceninfo_wrap_content{
    margin-top: 15px;
}
.pr_ceninfo_content{
    padding-left: 21px;
    padding-top: 5px;
}
.pr_ceninfo_content img {max-width:500px}
.pr_ceninfo_note{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0EFF3;
    width: 510px;
}
.pr_ceninfo_note_paragrap, .pr_ceninfo_note_info_comment{
    margin-top: 10px;
}

/*********** TABLE LIST COURSE ******************/
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #d6fcfc;

	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;

	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;

	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;

	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;


}
.CSSTableGenerator td{
	vertical-align:middle;

	background-color:#fcfcfc;

	border:1px solid #d6fcfc;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:15px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #b3f96d 5%, #b3f96d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b3f96d), color-stop(1, #b3f96d) );
	background:-moz-linear-gradient( center top, #b3f96d 5%, #b3f96d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3f96d", endColorstr="#b3f96d");	background: -o-linear-gradient(top,#b3f96d,b3f96d);

	background-color:#b3f96d;
	border:0px solid #d6fcfc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #b3f96d 5%, #b3f96d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b3f96d), color-stop(1, #b3f96d) );
	background:-moz-linear-gradient( center top, #b3f96d 5%, #b3f96d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3f96d", endColorstr="#b3f96d");	background: -o-linear-gradient(top,#b3f96d,b3f96d);

	background-color:#b3f96d;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}























/************************************************ CREATE_LESSON **************************************************/
.resg_box {width:90%;line-height: normal; border:1px solid #dfdfdf; float:left; margin:15px 15px 10px 30px; padding-bottom:15px; padding-top:25px;}
.resg_notes {width:80%; margin:5px 18px; float:left; color:#5a9301; }
.resg_step_title {width:700px; float:left; margin:5px 0 10px 5px;}
.resg_step_t_numm {width:130px; height:21px; background:url(../public/images/rsg_num.png) left no-repeat; float:left; padding:7px 0 0 35px; color:#ee7600;}
.resg_num { background:url(../../public/images/rsg_num.png) left no-repeat; font-size:14px; font-weight: bold}
.resg_step_t_r {width:525px; float:left; height:15px; border-bottom:1px solid #ababab;}
.resg_form_row {width:690px;margin:15px 0 7px 22px; min-height:10px;float:left}
.resg_f_r_left {width:225px; float:left; margin-top:5px;}
.resg_f_r_left_up {width:100%; float:left;}
.resg_f_r_left_down {width:100%; float:left; font-size:11px; font-weight:normal;}
.resg_f_r_right {float:left; width:295px; min-height:30px;margin-top: 4px;}
.resg_input {width:371px; height:25px; padding-left:5px; border:1px solid #b5b5b5; cursor:text; font-size:14px; border-radius:4px; background:url(http://data.tienganh123.com/images/v2/home/rs_bg_input.jpg) top repeat-x; color:#333;*padding-top:10px !important;-webkit-border-radius:4px;    -moz-border-radius:4px;}
.resg_input_text {width:371px; height:75px; padding-left:5px; border:1px solid #b5b5b5; cursor:text; font-size:14px; border-radius:4px; background:url(http://data.tienganh123.com/images/v2/home/rs_bg_input.jpg) top repeat-x; color:#333;*padding-top:10px !important;-webkit-border-radius:4px;    -moz-border-radius:4px;}
.resg_input_file {width:300px; height:25px; padding-left:5px; border:1px solid #b5b5b5; cursor:text; font-size:14px; border-radius:4px; background:url(http://data.tienganh123.com/images/v2/home/rs_bg_input.jpg) top repeat-x; color:#333;*padding-top:10px !important;-webkit-border-radius:4px;    -moz-border-radius:4px;}
.resg_input_text_file {width:300px; height:75px; padding-left:5px; border:1px solid #b5b5b5; cursor:text; font-size:14px; border-radius:4px; background:url(http://data.tienganh123.com/images/v2/home/rs_bg_input.jpg) top repeat-x; color:#333;*padding-top:10px !important;-webkit-border-radius:4px;    -moz-border-radius:4px;}
.resg_num_file { background:url('') left no-repeat; font-size:14px; font-weight: bold; padding:7px 0 0 35px;}
.resg_num_file_delete { background:url('') left no-repeat; font-size:14px; font-weight: bold; padding:7px 0 0 335px;}
.resg_create_button { margin-left: 400px; padding:7px 0 0 335px;}
.resg_f_r_right_right {float:left; width:295px; min-height:30px;margin: 20px 10px 20px 550px;}