/*
Styles for HTML5 File Drag & Drop demonstration
Featured on SitePoint.com
Developed by Craig Buckler (@craigbuckler) of OptimalWorks.net
*/

#popup1_container{
	width: 100%;
	border-collapse: separate;
	margin: 0px 0px 40px 0px;
}
fieldset{
	border:1px solid grey;
	padding:20px;
	margin:20px;
}
legend
{
	font-weight: bold;
	color:black;
	font-size:20px;
	margin-left:20px;
}

#filedrag
{
	height:100px;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed;
	border-radius: 7px;
	cursor: default;
}
#filedrag h1{
	font-size:16px;
	padding-top:40px;
	font-weight:100;
	color:silver;
}

.text_underline{
	text-decoration:underline;
	color:blue;
}

.TB040_table2_column4 button{
	border:none;
	background:none;
}

.TB040_table2_column4 button:hover{
	cursor:pointer;
}
#popup1_container img
{
	max-width: 100%;
}
#popup1_container button{
	width:100px;
	border:none;
}
#my_file {
    display: none;
}

#get_file {
	background:url(../images/bg_btn.png) repeat-x 0 0;
	color:#333;
	border-radius:3px;
	cursor:pointer;
	border: medium none;
    width: 100px;
	 margin-left: 75%;
}
button#popup_button2{
		background:url(../images/bg_btn_cancel.png) repeat-x 0 0;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
}
#submitbutton{
   float: right;
	background:url(../images/bg_btn.png) repeat-x 0 0;
	color:#333;
	border-radius:3px;
	cursor:pointer;
}
pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding:10px;
	margin: 1em 0;
	border:1px solid;
}

#message button{
	vertical-align:right;
	margin-right:30px;
	float:right;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}
p.havedfile{
	border:1px solid green;
}
