@CHARSET "UTF-8";

#popup1_container{
width:500px;
border:1px solid;
}
#popup1_header{
width:100%;
background-color:blue;
text-align:center;
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
margin-bottom:15px;
}

#popup1_part1{
margin:20px;
border:1px solid blue;
padding-left:10px;
}
#popup1_part1 h3{
padding-bottom:5px;
padding-top:5px;
}
#popup1_part1 a{
padding-left:20px;
}

#popup1_part2{
height:100px;
border:1px solid blue;
margin:20px;
border-radius:5px;
}

#popup1_footer{
margin-left:20px;
margin-bottom:20px;
}
#popup1_botton1{
margin-left:50px;
margin-right:190px;
background-color:grey;
width:80px;
}
#popup1_botton2{
background-color:blue;
width:80px;
}