@charset "utf-8";

/**Selector**/
html {
	/*background: url(../img/bg_html.png) repeat;*/
	background: url(../images/bg_body.png)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 .toparea .link a {
   display: block;
   float: left;
   text-indent: -9999px;
   width: 104px;
   height: 32px;
   margin: 6px 4px 0px 4px;
}
body {
	font-size:13px;
	color: #333;
}
a {
	color:#06F
}
a:hover {
	text-decoration:none
}
table {
	border-collapse: collapse; /*cellspacing*/
	background: #fff;
}
table th {
	padding: 0px; /*cellpadding*/
	font-weight: bold;
	text-align: left;
	line-height: 150%;
	vertical-align: top;
}
table td {
	padding: 0px; /*cellpadding*/
	line-height: 150%;
	vertical-align: top;
}

textarea, select {
	/*font-family:MS PGothic;*/
	font-size:13px;
	height: 22px;
	vertical-align:middle
}
input {
	border:1px solid #ccc;
	padding:5px;
	border-radius:3px;
	font-size:13px;
}
hr {
	border: none;
	border-bottom: 1px dashed #ccc;
	margin: 20px 0px;
}
.clearfix:after {  
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}  
* html .clearfix { zoom: 1; } /*IE6*/
*:first-child+html .clearfix { zoom: 1; } /*IE7*/


.require {
	color: #c00;
}


#wrapper {
	padding: 0 0 64px 0;
}


/**Header**/
#header {
	height:44px;
	background:url(../images/bg_header.png) repeat-x transparent;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#header .main {
	width: 980px;
	margin:0 auto;
}
#header h1 {
	line-height: 42px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}


/**Contents**/
#container {
	width:980px;
	margin:0 auto;
	padding:66px 0 0 0;
}



/**Pages**/
.toparea {
	width: 980px;
	position: fixed;
	top: 0;
	z-index: 200;
}
.toparea .link {
	float:right;
}
.toparea .link a {
   display: block;
   float: left;
   text-indent: -9999px;
   width: 104px;
   height: 32px;
   margin: 6px 4px 0px 4px;
}
.toparea .link a.smHome { background:url(../images/icon_home.png) 50% no-repeat; }
.toparea .link a.smInquiry { background:url(../images/icon_inquiry.png) 50% no-repeat; }
.toparea .link a.smHistory { background:url(../images/icon_history.png) 50% no-repeat; }
.toparea .link a.smStore { background:url(../images/icon_store.png) 50% no-repeat; }
.toparea .link a.smLogout { background:url(../images/icon_logout.png) 50% no-repeat; }
.toparea .link a:hover {
	opacity: 0.7;
}

.mainarea {
}
.mainarea h2 {
	font-size: 15px;
	margin: 20px 0px 5px 0px;
}
.mainarea h2:first-child {
	margin: 0px 0px 5px 0px;
}


ul#operationMenu {
	width: 980px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -58px 0 0 -490px;
	text-align: center;
}
ul#operationMenu li {
	list-style-type: none;
	display: inline-block;
	margin: 0px 10px;
}
ul#operationMenu li a img:hover {
	opacity: 0.7;
}



table#serchfield {
	width: 100%;
	border: 1px solid #333;
	border-collapse: separate;
	border-radius: 4px;
	margin: 0px 0px 40px 0px;
	background: url(../images/bg_html.png) repeat;
}
table#serchfield th {
	padding: 10px;
	vertical-align: middle;
	white-space: nowrap;
}
table#serchfield td {
	padding: 10px;
	vertical-align: middle;
}
table#serchfield input.shopcode {
	width: 95%;
}
table#serchfield input.shopname {
	width: 95%;
}


#resultSummary {
	clear: both;
}
#resultAction {
	width: 48%;
	float: left;
	margin: 0px 0px 10px 0px;
}
#resultCount {
	width: 48%;
	float: right;
	text-align: right;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 0px 0px;
}
#resultCount strong {
	color: #900;
}



table.resultlist {
	width: 100%;
	border-top:1px solid #333;
	border-left:1px solid #333;
}
table.resultlist th {
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	padding: 6px;
	background: #000;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
table.resultlist td {
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
}
table.resultlist tr td:first-child {
	text-align: left;
}
table.resultlist tr:nth-child(odd) td {
	background: #efefef;
}
table.resultlist tr:hover td {
	background: #d0e6ff;
}




table#summaryField {
	width: 100%;
	border: 1px solid #333;
	border-collapse: separate;
	border-bottom: none;
	border-right: none;
	margin: 0px 0px 10px 0px;
	background: #fff;
}
table#summaryField caption {
	background: #000;
	border: 1px solid #333;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	padding: 7px;
	color: #fff;
}
table#summaryField th {
	padding: 7px;
	vertical-align: middle;
	white-space: nowrap;
	background: #efefef;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}
table#summaryField td {
	padding: 7px;
	vertical-align: middle;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

table.summaryObject {
	width: 100%;
	border: 1px solid #333;
	border-collapse: separate;
	border-bottom: none;
	border-right: none;
	margin: 0px 0px 10px 0px;
	background: #fff;
}
table.summaryObject caption {
	background: #000;
	border: 1px solid #333;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	padding: 7px;
	color: #fff;
}
table.summaryObject td {
	padding: 7px;
	vertical-align: middle;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}


table.detailInspectionlist {
	width: 100%;
	border-top:1px solid #333;
	border-left:1px solid #333;
	margin: 30px 0px 0px 0px;
}
table.detailInspectionlist th {
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	padding: 6px;
	background: #000;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
table.detailInspectionlist td {
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
}
table.detailInspectionlist tr td:first-child {
	text-align: left;
}
table.detailInspectionlist tr:nth-child(odd) td {
	background: #efefef;
}
table.detailInspectionlist tr:hover td {
	background: #d0e6ff;
}








/**Buttons**/
#actionField {
	background: #fff;
	padding: 10px;
	border: 1px solid #999;
	margin: 30px 0px 0px 0px;
}

.btn {
	text-align:center;
	margin: 0px auto 0px auto;
}
.btnStandard {
	display:inline-block;
	border:0;
	font-weight: bold;
	line-height:30px;
	padding:2px 40px;
	background:url(../images/bg_btn.png) repeat-x 0 0;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	text-decoration:none;
}
.btnStandard:hover {
	opacity: 0.9;
}
.btnCanceller {
	display:inline-block;
	border:0;
	font-weight: bold;
	line-height:30px;
	padding:2px 40px;
	background:url(../images/bg_btn_cancel.png) repeat-x 0 0;
	color:#333;
	border-radius:3px;
	cursor:pointer;
	text-decoration:none;
}
.btnCanceller:hover {
	opacity: 0.9;
}

.linkCanceller{
	line-height: 30px;
}
.btnDelete {
	display:inline-block;
	border:0;
	font-weight: bold;
	padding:2px 40px;
	background:url(../images/bg_btn_delete.png) repeat-x 0 0;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	text-decoration:none;
}
.btnDelete:hover {
	opacity: 0.9;
}
.posLeft {
	float: left;
	margin: 5px;
}
.posLeft1 {
  margin: 30px -186px 0;
}

.posLeft2 {
	float: left;
	margin: 19px 5px 5px;
}
.posright {
	float: right;
	margin: 5px;
}
.postop{
	margin-top: -20px;
}
.posright1 {
	margin-right: 30px;
}



/**Paginate**/
.paging {
	margin: 30px 0px 0px 0px;
	text-align: center;
}
.paging li {
	display:inline;
}
.paging li a {
	text-decoration:none;
	padding: 7px 10px;
	background: #78B546;
	border: 1px solid #093;
	color: #fff !important;
	font-weight: bold;
}
.paging li a:hover {
	background: #e1ad0f;
	border: 1px solid #a96b00;
}
.paging li a.current {
	background: #e1ad0f !important;
	border: 1px solid #a96b00 !important;
	cursor: default;
}
.paging li a.nolink {
	background: #ccc !important;
	border: 1px solid #999 !important;
	color: #333;
	cursor: default;
}


/**misc**/
.notice {
	color: #c00;
	margin: 5px 0 0 0;
}
.seach_class_btn{
   margin-left:10px;
       padding-left: 15px;
    padding-right: 15px;	
}
table.display_serchfield {
	width: 100%;
	border: 1px solid;
	border-collapse: separate;
	border-radius: 4px;
	margin: 10px 0px 40px 0px;
	background: url(../images/bg_html.png) repeat;
}
table.display_serchfield th {
	padding: 10px;
	vertical-align: middle;
	text-align:center;
	white-space: nowrap;
	border-right:1px solid;
	width:20%;
}
table.display_serchfield th.row1_underline{
	border-bottom:1px solid;
	}
table.display_serchfield td {
	padding: 10px;
	padding-left:20px;
	vertical-align: middle;
}
table.display_serchfield td.row2_underline{
	border-bottom:1px solid ;
	}
/*file TB040*/
table.TB040_table1 {
	width: 100%;
	border: 1px solid #333;
	border-collapse: separate;
	margin: 0px 0px 40px 0px;
	background: url(../images/bg_html.png) repeat;
}
table.TB040_table1 th {
	padding: 10px;
	vertical-align: middle;
	white-space: nowrap;
}
table.TB040_table1 td {
	padding: 10px;
	vertical-align: middle;
}
#TB040_table1_column1{
	width:15%;
	background-color:#EFEFEF;
	text-align:center;
	border-right:1px solid;
}
#TB040_table1_column2{
	width:50%;
}
#TB040_table1_column3{
	width:15%;
	text-align:center;
	border-left:1px solid;
}
#TB040_table1_column4 span{
	padding-left:20px;
}

table.TB040_table2 {
	width: 100%;
	border: 1px solid #333;
	border-collapse: separate;
	margin: 0px 0px 40px 0px;
	background: url(../images/bg_html.png) repeat;
}
table.TB040_table2 th {
	padding: 10px;
	vertical-align: middle;
	white-space: nowrap;
	background-color:black;
	color:white;
}
table.TB040_table2 td {
	padding: 10px;
	   background: none repeat scroll 0 0 white;	
	vertical-align: middle;
}
table.TB040_table2 input{
	width: 60%;
	align:center;
}
.TB040_table2_column1{
	width:55%;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB040_table2_column2{
	width:15%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
	
.TB040_table2_column2 select{
	width:60%;
	}
.TB040_table2_column3{
	width:15%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB040_table2_column4{
	width:15%;
	text-align:center;
	border-bottom:1px solid;
	}
.TB070_table2_column1{
	width:44%;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB070_table2_column2{
	width:16%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
	
.TB070_table2_column2 select{
	width:60%;
	}
.TB070_table2_column3{
	width:14%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB070_table2_column4{
	width:8%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB070_table2_column5{
	width:9%;
	text-align:center;
	border-right:1px solid;
	border-bottom:1px solid;
	}
.TB070_table2_column6{
	width:9%;
	text-align:center;
	border-bottom:1px solid;
	}
/****/
#TB050_input
{padding: 100px; width: 79%;}
#TB050_file {
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    padding: 30px;
    text-align: center;
    width: auto;
	 background: none repeat scroll 0 0 white;
    margin: 50px 20px;
}
#TB050_displayfile{
    background-color:white;
}
#TB050_title{
	background-color:black;
	padding:10px;
	border-radius:5px 5px 0px 0px;
	color:white;
}
#messages1{
	min-height:40px;
	padding:15px;
	border: 1px solid #333;
}
#filedrag1{
	height:120px;
	border:1px solid;
	margin:50px;
	margin-top: 70px;
	border-radius:4px;
	background-color:white;
}
#filedrag1 h1{
		text-align:center;
		padding-top:50px;
	}
#messages{
	min-height:40px;
	padding:15px;
	border: 1px solid #333;
}
#filedrag{
	height:120px;
	border:1px solid;
	margin:50px;
	margin-top: 70px;
	border-radius:4px;
	background-color:white;
}
#filedrag h1{
		text-align:center;
		padding-top:50px;
	}	
#TB050_select{
	width:200px;
}
.MA020_select{
    width: 100%;
    height:100%;
}
#MA020_content
{
	text-align:center;
}
#footer {
}
